<div class="side-header">
  <div class="side-name">
    <%= link_to current_user.name, edit_user_path(current_user)  %>
  </div>
  <div class="side-btn">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side-footer">
  <div class="room-name">
    雑談
  </div>
</div>