<div class="side-header">
  <div class="side-name">
    <a href="#">TOM</a>
  </div>
  <div class="side-btn">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side-footer">
  <div class="room-name">
    雑談
  </div>
</div>